html,
body {
	height: 100%;
}
body {
	overflow-x: hidden;
}
body {
	background: black;
	background: s-color(secondary, -darken 5%);
}

.ua-mobile.ua-safari {
	* {
		transition:none !important;
	}
}

.app {

}

.app__page_video {
	position:fixed;
	top: 0;
	left: 0;
	// top:50%; left:50%;
	pointer-events: none;
	// display:none;
	opacity:0;
	// transform:translateX(-50%) translateY(-50%);
	transition: opacity .4s ease-in-out 0s;

	&:target {
		// display:block;
		opacity:1;
		pointer-events: all;
	}

	// transform:translateX(-50%) translateY(-100vh) scale(.5);
	video {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
	}
}
	.app__page {

		position:fixed;
		top:50%;
		left:50%;
		pointer-events: none;
		opacity:0;
		transform:translateX(-50%) translateY(-50%);
		transition: opacity .4s ease-in-out 0s;

		// transform:translateX(-50%) translateY(-100vh) scale(.5);

		&:target {
			// display:block;
			opacity:1;
			pointer-events: all;
		}


	}

	// .app__background {
	// 	position:absolute;
	// 	top:0; left:0;
	// 	width: 100%; height: 100%;
	// 	z-index:-1;
	// 	background-image: url('../img/background.png');
	// 	background-position: 50% 0;
	// 	background-size: cover;
	// 	background-repeat: no-repeat;
	// 	transition: background-position .7s cubic-bezier(0.660, 0.010, 0.265, 0.990) 0s;
	// }
